@tailwind base;
@tailwind components;
@tailwind utilities;

::root {
	--abyssal: #1b2632;
	--palladian: #eee9df;
}
@layer base {
	body {
		@apply bg-[#f6f6f6] text-abyssal dark:bg-slate-900 dark:text-yellow-50/90;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-sans font-black;
	}
}

@layer components {
	.menu {
		@apply pt-4;
		li {
			@apply text-[4rem] font-medium uppercase text-abyssal;
			letter-spacing: -0.035em;
		}
	}
}

.slide-horizontal-enter-active,
.slide-horizontal-leave-active {
	transition:
		transform 0.1s ease-in-out,
		opacity 0.2s ease-in-out;
	will-change: transform, opacity;
}

.slide-horizontal-enter-from {
	transform: translateX(-100%);
	opacity: 0;
}

.slide-horizontal-enter-to {
	transform: translateX(0);
	opacity: 1;
}

.slide-horizontal-leave-from {
	transform: translateX(0);
	opacity: 1;
}

.slide-horizontal-leave-to {
	transform: translateX(0);
	opacity: 0;
}
