@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--abyssal: oklch(0.264 0.0274 251.05);
		--palladian: oklch(0.9352 0.0144 84.58);
		--page-transition-duration: 400ms;
		--page-transition-ease: cubic-bezier(0.4, 0, 0.2, 1);
	}
	body {
		@apply bg-palladian font-sans text-abyssal dark:bg-abyssal dark:text-palladian;
	}
	footer {
		@apply text-base;
		h2 {
			@apply text-base;
		}
		ul li {
			@apply text-base;
		}
	}
}

@layer components {
	.error-container {
		@apply flex-1 flex flex-col md:flex-row md:items-start
	}
	.container {
		@apply max-h-[calc(100vh-70px)]
	}
	.menu {
		li {
			@apply relative text-xl font-medium text-abyssal transition-colors duration-500;
			letter-spacing: -0.035em;
		}
	}
	.wrapper {
		@apply flex flex-col gap-16 py-24;
		&-grid {
			@apply grid w-full grid-cols-1 gap-4 text-sm sm:grid-cols-2 lg:text-lg xl:grid-cols-3;
		}
		&-grid-3 {
			@apply grid w-full grid-cols-1 gap-4 text-sm sm:grid-cols-3 lg:text-lg;
		}
	}
	.prose {
		@apply flex max-w-none flex-col leading-6 text-sm;
	}
	.prose h2 {
		@apply mb-4 mt-6 font-semibold text-lg;
	}
	.prose h3 {
		@apply mb-3 mt-6 font-semibold;
	}
	.prose ul {
		@apply ml-0 list-inside list-disc space-y-1 my-2;
	}
	.prose  strong {
		@apply block mt-4 font-semibold;
	}
	.prose li {
		@apply my-2;
	}
}

@layer utilities {
	.slide-link {
		@apply hover:cursor-pointer;
		display: inline-block;
		text-decoration: none;
		overflow: hidden;
	}
	.slide-wrap {
		display: inline-block;
		position: relative;
		overflow: hidden;
		height: 1.5em;
		line-height: 1.5em;
	}
	.slide-text {
		display: block;
		line-height: 1.5em;
		transition: transform 0.4s ease;
	}
	.slide-text--clone {
		position: absolute;
		left: 0;
		top: 1.5em;
	}
	.slide-link:hover .slide-text {
		transform: translateY(-1.5em);
	}
	.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.3s ease;
}
.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}
.page-enter-active,
.page-leave-active {
	transition: opacity 600ms ease-in-out;
}

.page-leave-to {
	opacity: 0;
}

.page-enter-from {
	opacity: 0;
}

.page-enter-to,
.page-leave-from {
	opacity: 1;
}
