@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--abyssal: #1b2632;
		--palladian: #eee9df;
	}
	body {
		@apply text-abyssal dark:bg-slate-900 dark:text-yellow-50/90;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-sans;
	}
}

@layer components {
	.menu {
		@apply pt-4;
		li {
			@apply relative text-[4rem] font-medium uppercase text-abyssal/30 hover:text-abyssal transition-colors duration-500 hover:pl-24;
			letter-spacing: -0.035em;
			&::before {
				content: "\2192";
				@apply absolute left-0 opacity-0 transition-all duration-300 transform -translate-x-4;
			}
			&:hover::before {
				@apply opacity-100 translate-x-0;
			}
		}
	}
	.wrapper {
		@apply py-24 flex flex-col gap-16;
		&-grid {
			@apply grid grid-cols-1 auto-cols-max md:grid-cols-2 xl:grid-cols-3 gap-8 w-full px-8 text-sm lg:text-lg;
			
			> div:last-child {
				@apply col-span-full;
			}
		}
	}
	.slide-horizontal-enter-active,
	.slide-horizontal-leave-active {
		transition:
			transform 0.1s ease-in-out,
			opacity 0.2s ease-in-out;
		will-change: transform, opacity;
	}
	.slide-horizontal-enter-from {
		transform: translateX(-100%);
		opacity: 0;
	}
	.slide-horizontal-enter-to {
		transform: translateX(0);
		opacity: 1;
	}
	.slide-horizontal-leave-from {
		transform: translateX(0);
		opacity: 1;
	}
	.slide-horizontal-leave-to {
		transform: translateX(0);
		opacity: 0;
	}
}
