@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--abyssal: #1b2632;
		--palladian: #eee9df;
	}
	body {
		@apply text-abyssal dark:bg-slate-900 dark:text-yellow-50/90;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-sans;
	}
}

@layer components {
	.menu {
		@apply pt-4;
		li {
			@apply relative text-[4rem] font-medium uppercase text-abyssal/30 transition-colors duration-500 hover:pl-24 hover:text-abyssal;
			letter-spacing: -0.035em;
			&::before {
				content: "\2192";
				@apply absolute left-0 -translate-x-4 transform opacity-0 transition-all duration-300;
			}
			&:hover::before {
				@apply translate-x-0 opacity-100;
			}
		}
	}
	.wrapper {
		@apply flex flex-col gap-16 py-24;
		&-grid {
			@apply grid w-full auto-cols-max grid-cols-1 gap-8 px-8 text-sm md:grid-cols-2 lg:text-lg xl:grid-cols-3;

			> div:last-child {
				@apply col-span-full;
			}
		}
	}
	.slide-horizontal-enter-active,
	.slide-horizontal-leave-active {
		transition:
			transform 0.1s ease-in-out,
			opacity 0.2s ease-in-out;
		will-change: transform, opacity;
	}
	.slide-horizontal-enter-from {
		transform: translateX(-100%);
		opacity: 0;
	}
	.slide-horizontal-enter-to {
		transform: translateX(0);
		opacity: 1;
	}
	.slide-horizontal-leave-from {
		transform: translateX(0);
		opacity: 1;
	}
	.slide-horizontal-leave-to {
		transform: translateX(0);
		opacity: 0;
	}
}
