@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--abyssal: #1b2632;
		--palladian: #eee9df;
	}
	body {
		@apply font-sans text-abyssal dark:bg-slate-900 dark:text-yellow-50/90;
	}
	p {
		@apply text-sm;
	}
}

@layer components {
	.menu {
		@apply pt-4;
		li {
			@apply text-xl relative font-medium text-abyssal transition-colors duration-500;
			letter-spacing: -0.035em;
		}
	}
	.wrapper {
		@apply flex flex-col gap-16 py-24;
		&-grid {
			@apply grid w-full auto-cols-max grid-cols-1 gap-8 px-8 text-sm md:grid-cols-2 lg:text-lg xl:grid-cols-3;

			> div:last-child {
				@apply col-span-full;
			}
		}
	}
	.slide-horizontal-enter-active,
	.slide-horizontal-leave-active {
		transition:
			transform 0.1s ease-in-out,
			opacity 0.2s ease-in-out;
		will-change: transform, opacity;
	}
	.slide-horizontal-enter-from {
		transform: translateX(-100%);
		opacity: 0;
	}
	.slide-horizontal-enter-to {
		transform: translateX(0);
		opacity: 1;
	}
	.slide-horizontal-leave-from {
		transform: translateX(0);
		opacity: 1;
	}
	.slide-horizontal-leave-to {
		transform: translateX(0);
		opacity: 0;
	}
}
